<% content_for :title, "New demon slayer" %>

<h1>New demon slayer</h1>

<%= render "form", demon_slayer: @demon_slayer %>

<br>

<div>
  <%= link_to "Back to demon slayers", demon_slayers_path %>
</div>
